body {
    --ils-input-form-label-width: 300px;
    margin: 0;
}

    body main {
        max-width: var(--il-content-max-width);
        margin: 20px auto;
        padding: 0 30px;
    }

#signs {
    margin-top: 20px;
}

.box {
    padding: 30px;
    background: var(--il-cloud);
    margin: 10px 0;
    border: solid 2px var(--il-blue);
}

    .box.box-orange {
        background: white;
        border: solid 2px var(--il-altgeld);
    }

    .box .two-column {
        display: flex;
        column-gap: 20px;
        margin-top: 20px;
    }

        .box .two-column .column {
            flex: 1 1 50%;
        }

.new {
    text-align: right;
    margin-top: 20px;
    padding-top: 20px;
    border-top: thin solid var(--il-blue);
}

    .new label {
        margin-left: 20px;
    }

        .new input.seconds {
            width: 50px;
        }

    .new button {
        width: 300px;
        margin-left: 30px !important;
    }

.il-formatted #slides li {
    padding: 10px 0 15px 10px;
    margin-bottom: 10px;
    border-bottom: thin dashed var(--il-blue);
}

.il-formatted #slides li.disabled {
    background: var(--il-cloud-1);
    list-style: none;
}

.il-formatted #slides li.disabled-faded {
    opacity: 60%;
}

.il-formatted #slides li div.flex {
    display: flex;
    column-gap: 20px;
}

    .il-formatted #slides li div.flex div {
        flex: 1 1 auto;
    }

        .il-formatted #slides li div.flex div.data {
            flex: 0 0 150px;
        }

        .il-formatted #slides li div.flex div.small {
            flex: 0 0 20px;
        }

        .il-formatted #slides li div.flex .dates label {
            display: inline-block;
            width: 40px;
        }

    .il-formatted #slides li div.description {
        margin-top: 10px;
        width: 100%;
    }

    .il-formatted #slides li div.description input {
        width: 80%;
        padding: 10px;
    }

.il-formatted #slides img {
    width: 150px;
    max-height: 90px;
}

    .il-formatted #slides input.date {
        width: 200px;
    }

.il-formatted #slides .il-button {
    padding: 3px 12px;
}

.il-icon.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 16px;
}

#image-upload {
    width: 50%;
    background: var(--il-cloud-1);
    padding: 12px;
    text-align: center;
    display: inline-block;
    border: 2px dotted var(--il-blue);
}

    #image-upload:before {
        content: "Drag files here or ";
    }

.il-formatted #edit-properties {
    margin: 20px 0;
}

.il-formatted #permissions button {
    margin-left: 20px;
}

.il-formatted textarea {
    height: 250px;
}

.il-formatted select {
    padding: 3px 12px;
}

#donor-details, #donor-image {
    padding-top: 30px;
}

.fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.hide, .il-button.hide {
    display: none;
}